*,:after,:before,input {
    box-sizing: border-box;
    position: relative;
    font-family: Helvetica, sans-serif;
    color: rgb(119, 119, 119);
}

html {
  font-size: 1.25em;
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}