.container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.container2 {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    /* max-width: 50em; */
    margin: 3% 0 3% 0;
}

#mainTitle > h1 {
    font-size: 1.75em;
    margin: 10% 0 25% 0;
    /* border-bottom: 3px solid rgb(119, 119, 119); */
}

#mainTitle > h1 > a {
    text-decoration: none;
}

#nameInput {
    border-radius: 3em;
    padding: 0.75em 2em;
    display: inline-block;
    background-color: rgb(247, 247, 247);
    border: 0px none;
    text-align: center;
    font-weight: 700;
    font-size: 0.8em;
    width: 100%;
    max-width: 300px;
    margin: 0.5em 0px;
    pointer-events: auto;
}

#nameDisplay {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
    font-size: 0.9em;
}

span {
    margin: 0 15% 0 15%;
}

#empty {
    align-self: stretch;
    height: 2em;
}

#menu {
    display: none;
}

#endScreen {
    display: none;
}

#statusDisplay {
    width: 100%;
    text-align: center;
    margin: 10% 0 10% 0;
    font-size: 2em;
    font-weight: bold;
}

.button {
    border-radius: 100vmax;
    padding: 0.7em 3.85em 0.7em 4em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 0.15em;
    cursor: pointer;
    text-align: center;
    flex-shrink: 0;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.067) 0px 0.5em 1em 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
    margin: 0.5em 0px;
    background-size: cover;
    background-position: center center;
    transition: opacity 0.3s ease 0s;
}

#boardDisplay {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 10% 0 10%;
}

#scoreboard {
    min-width: 300px;
    flex-direction: row;
}

#scoreboard > div {
    margin: 3%;
    width: 100%;
}

#scoreboard > div > div {
    text-align: center;
}

#playerName1, #playerName2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.10em;
    align-self: stretch;
}

#playerScore1, #playerScore2 {
    font-size: 3em;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2em;
}
td {
    text-align: center; 
    vertical-align: middle;
    height: 100px;
    width: 100px;
    min-width: 100px;
}

.cross {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cross::before,
.cross::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 7px;
    background-color: rgb(119, 119, 119);
}

.cross::before {
    transform: rotate(45deg);
}

.cross::after {
    transform: rotate(-45deg);
    background-color: royalblue;
}

.circle {
    height: 50%;
    width: 50%;
    margin: auto;
    border: double 7px transparent;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(white, white), linear-gradient( 90deg, rgb(119, 119, 119) 50%, royalblue 50%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#roomDisplay {
    display: none;
    border: 0px none;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    border-radius: 5em;
    width: 10em;
    box-shadow: rgba(0, 0, 0, 0.067) 0px 0.5em 1em 0px, rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
    transition: box-shadow 0.3s ease 0s;
    cursor: pointer;
    margin: 3% 0 3% 0;
}

#myProgress {
    width: 100%;
    display: none;
    margin-top: 5%;
    max-width: 300px;
}
  
#myBar {
    width: 1%;
    height: 3px;
    background-color: rgb(119, 119, 119);
}

#errorDisplay {
    visibility: hidden;
    margin-top: 5%;
    color: red;
}

@media only screen and (max-width: 400px) {
    body {
      /* background-color: #F09A9D; */
    }
    #adjust {
        display: none;
    }
    #scoreboard {
        margin-top: 8%;
        flex-direction: row;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        /* background-color: #F5CF8E; */
    }
    #adjust {
        display: none;
    }
    #scoreboard {
        flex-direction: row;
    }
}
  

@media only screen and (min-width: 961px) {
    body {
      /* background-color: #B2D6FF; */
    }
    #adjust {
        display: block;
    }  
}